/* VARIABLES IN USE:


*/



body {
	background-color: var(--dark-bg-color);
  }
  
  #user-input {
	  color: #ddd;
  }
  
  .input-wrapper {
    background-color: var(--dark-form-bg-color);
    opacity: .5;
  }

  #menu {
	  background: #8A898B;
  }
  
  #prompt {
	  /*color:   #383831;*/
	  color: #878688;
  }
  
  #stats {
	  background-color: #777678;
  }
  
  #stats .btn-default {
	  background-color: #A29FA9;
  }
  
  #done {
	  background-color: #2C2C2E;
	  color: #404145;
  }
  