body {
	background-color: var(--light-bg-color);
  }
  
  #user-input {
	  color: var(--light-text-color);
  }

  .input-wrapper {
    background-color: var(--light-form-bg-color);

  }
  
  #menu {
	  background: #C9C9C9;
  }
  
  #stats {
	  background-color: #D3D3D3;
  }
  
  #done {
	  background-color: #BDBDBD;
	  color: #626262;
  }
  

  progress {
    background: var(--light-prog-bar-color);
    color: var(--light-prog-bar-value-color);
  }